@model Final_Project.Models.TruckDto
@{
    ViewBag.Title = "Details";
}
<a href="/Truck/list">Back to List</a>
<a href="/Truck/delete/@Model.TruckID">Delete Truck</a>

<h2>Details</h2>
<h3>@Model.TruckNumber</h3>

