@model IEnumerable<Final_Project.Models.TruckDto>
@{
    ViewBag.Title = "List";
}

<h2>Company Trucks</h2>
<a href="/Truck/new">Add Truck</a>
@foreach (var truck in Model)
{
    <h4><a href="/Truck/Details/@truck.TruckID">@truck.TruckNumber</a></h4>


}

